<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484670992132-v2pg1q5nv9ng3oa26ig49b7uvk7at7ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484670992132-v2pg1q5nv9ng3oa26ig49b7uvk7at7ig</string>
	<key>API_KEY</key>
	<string>AIzaSyAcHHhltKmdGCBb23OonGz2Xi33tg_mq7g</string>
	<key>GCM_SENDER_ID</key>
	<string>484670992132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aziko.aziko</string>
	<key>PROJECT_ID</key>
	<string>aziko-e1628</string>
	<key>STORAGE_BUCKET</key>
	<string>aziko-e1628.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484670992132:ios:bba0aebad508651656aa51</string>
</dict>
</plist>